<li class="nav-item">
  <a class="nav-link-with-cursor" title="Take Snapshot" {{action "export"}}>
    {{svg-jar "device-camera" class="octicon align-middle"}}
  </a>
</li>
<li class="nav-item">
  <a class="nav-link-with-cursor" title="Load Snapshot" {{action "import"}}>
    {{svg-jar "device-camera" class="octicon align-middle"}}
  </a>
</li>